import init.aries.usb.rc

on init

    loglevel 9
    export EXTERNAL_STORAGE /storage/sdcard0
    export SECONDARY_STORAGE /storage/sdcard1

    # FIXME: Market checks this variable for space-checking, but downloads to /datadata
    export DOWNLOAD_CACHE /data/download


    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /storage/sdcard0 0700 root root
    mkdir /storage/sdcard1 0700 root root
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard1 /emmc
    symlink /storage/sdcard1 /mnt/emmc
    # FIXME: Remove emmc?
    mkdir /datadata 0771 system system
    mkdir /data 0771 system system

on boot

    mount debugfs /sys/kernel/debug /sys/kernel/debug

    setprop ro.build.product aries
    setprop ro.product.device aries

# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# phone
    setprop ro.telephony.call_ring.multiple 0

on fs
# LVM: set up LVM volumes
    exec /lvm/sbin/lvm vgscan --mknodes --ignorelockingfailure
    exec /lvm/sbin/lvm vgchange -aly --ignorelockingfailure
    restorecon /dev/mapper/lvpool-system
    restorecon /dev/mapper/lvpool-userdata

    mkdir /radio 0775 radio radio
    mount yaffs2 mtd@radio /radio
    mount yaffs2 mtd@datadata /datadata
    mount yaffs2 mtd@cache /cache
    mount_all fstab.aries
    swapon_all fstab.aries

    chown radio radio /radio/modem.bin
    exec /system/bin/restorecon -r /radio

# We chown/chmod /efs because mount is run as root + defaults
    mkdir /efs 0775 radio radio
    mount yaffs2 /dev/block/mtdblock4 /efs
    chown radio radio /efs
    chmod 770 /efs
    chmod 770 /efs/imei
    exec /system/bin/restorecon -r /efs

# permissions for bluetooth.
    chown bluetooth net_bt_stack /dev/s3c2410_serial0
    chown bluetooth net_bt_stack /data/bdaddr
    chmod 0660 /dev/s3c2410_serial0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill1/state
    chmod 0660 /sys/class/rfkill/rfkill2/state
    chmod 0660 /sys/class/rfkill/rfkill3/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill1/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill2/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill3/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill1/type
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill2/type
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill3/type
    restorecon /sys/class/rfkill/rfkill0/state
    restorecon /sys/class/rfkill/rfkill0/type
    restorecon /sys/class/rfkill/rfkill1/state
    restorecon /sys/class/rfkill/rfkill1/type
    restorecon /sys/class/rfkill/rfkill2/state
    restorecon /sys/class/rfkill/rfkill2/type
    restorecon /sys/class/rfkill/rfkill3/state
    restorecon /sys/class/rfkill/rfkill3/type

# Permissions for System Server and daemons.
    chown system system /sys/class/backlight/s5p_bl/brightness
    chown system system /sys/class/misc/backlightnotification/notification_led
    chown system system /sys/class/misc/backlightnotification/enabled 

# permission for tuning knobs
    chown system system /sys/class/misc/notification/bl_timeout
    chmod 660 /sys/class/misc/notification/bl_timeout
    restorecon /sys/class/misc/notification/bl_timeout

    chown system system /sys/class/misc/pwm_duty/pwm_duty
    chmod 660 /sys/class/misc/pwm_duty/pwm_duty
    restorecon /sys/class/misc/pwm_duty/pwm_duty

    chown system system /sys/class/mdnieset_ui/switch_mdnieset_ui/mdnieset_ui_file_cmd
    chmod 660 /sys/class/mdnieset_ui/switch_mdnieset_ui/mdnieset_ui_file_cmd
    restorecon /sys/class/mdnieset_ui/switch_mdnieset_ui/mdnieset_ui_file_cmd

    chown system system /sys/class/misc/dockaudio/cardock_enable
    chown system system /sys/class/misc/dockaudio/deskdock_enable
    chmod 660 /sys/class/misc/dockaudio/cardock_enable
    chmod 660 /sys/class/misc/dockaudio/deskdock_enable
    restorecon /sys/class/misc/dockaudio/cardock_enable
    restorecon /sys/class/misc/dockaudio/deskdock_enable

    chown system system /sys/devices/virtual/misc/color_tuning/blue_multiplier
    chown system system /sys/devices/virtual/misc/color_tuning/blue_v1_offset
    chown system system /sys/devices/virtual/misc/color_tuning/green_multiplier
    chown system system /sys/devices/virtual/misc/color_tuning/green_v1_offset
    chown system system /sys/devices/virtual/misc/color_tuning/red_multiplier
    chown system system /sys/devices/virtual/misc/color_tuning/red_v1_offset
    chmod 660 /sys/devices/virtual/misc/color_tuning/blue_multiplier
    chmod 660 /sys/devices/virtual/misc/color_tuning/blue_v1_offset
    chmod 660 /sys/devices/virtual/misc/color_tuning/green_multiplier
    chmod 660 /sys/devices/virtual/misc/color_tuning/green_v1_offset
    chmod 660 /sys/devices/virtual/misc/color_tuning/red_multiplier
    chmod 660 /sys/devices/virtual/misc/color_tuning/red_v1_offset
    restorecon /sys/devices/virtual/misc/color_tuning/blue_multiplier
    restorecon /sys/devices/virtual/misc/color_tuning/blue_v1_offset
    restorecon /sys/devices/virtual/misc/color_tuning/green_multiplier
    restorecon /sys/devices/virtual/misc/color_tuning/green_v1_offset
    restorecon /sys/devices/virtual/misc/color_tuning/red_multiplier
    restorecon /sys/devices/virtual/misc/color_tuning/red_v1_offset

# Intentionally left world-writable for Voodoo Sound app
    restorecon /sys/devices/virtual/misc/voodoo_sound/adc_osr128
    restorecon /sys/devices/virtual/misc/voodoo_sound/dac_direct
    restorecon /sys/devices/virtual/misc/voodoo_sound/dac_osr128
    restorecon /sys/devices/virtual/misc/voodoo_sound/debug_log
    restorecon /sys/devices/virtual/misc/voodoo_sound/digital_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/fll_tuning
    restorecon /sys/devices/virtual/misc/voodoo_sound/fm_radio_headset_normalize_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/fm_radio_headset_restore_bass
    restorecon /sys/devices/virtual/misc/voodoo_sound/fm_radio_headset_restore_highs
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_amplifier_level
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq_b1_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq_b2_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq_b3_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq_b4_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq_b5_gain
    restorecon /sys/devices/virtual/misc/voodoo_sound/headphone_eq_bands_values
    restorecon /sys/devices/virtual/misc/voodoo_sound/mono_downmix
    restorecon /sys/devices/virtual/misc/voodoo_sound/recording_preset
    restorecon /sys/devices/virtual/misc/voodoo_sound/speaker_tuning
    restorecon /sys/devices/virtual/misc/voodoo_sound/stereo_expansion
    restorecon /sys/devices/virtual/misc/voodoo_sound/stereo_expansion_gain

on post-fs
    chown system system /datadata
    chmod 0771 /datadata
    restorecon /datadata

    #symlinks for samsung RIL
    symlink /radio/modem.bin /dev/block/bml12

    insmod /system/lib/modules/vibrator.ko
    insmod /system/lib/modules/bthid.ko

# for sensor control
    chown system input /sys/class/input/input0/enable
    chown system input /sys/class/input/input0/delay
    chown system input /sys/class/input/input0/wake
    chown system input /sys/class/input/input0/data
    
    chown system input /sys/class/input/input1/enable
    chown system input /sys/class/input/input1/delay
    chown system input /sys/class/input/input1/wake
    chown system input /sys/class/input/input1/threshold
    chown system input /sys/class/input/input1/distortion
    chown system input /sys/class/input/input1/shape
    chown system input /sys/class/input/input1/offsets
    chown system input /sys/class/input/input1/filter_enable
    chown system input /sys/class/input/input1/filter_len
    chown system input /sys/class/input/input1/data
    chown system input /sys/class/input/input1/status
    chown system input /sys/class/input/input1/position
    
    chown system input /sys/class/input/input2/enable
    chown system input /sys/class/input/input2/delay
    chown system input /sys/class/input/input2/wake
    chown system input /sys/class/input/input2/threshold
    chown system input /sys/class/input/input2/distortion
    chown system input /sys/class/input/input2/shape
    chown system input /sys/class/input/input2/offsets
    chown system input /sys/class/input/input2/filter_enable
    chown system input /sys/class/input/input2/filter_len
    chown system input /sys/class/input/input2/data
    chown system input /sys/class/input/input2/status
    chown system input /sys/class/input/input2/position
    
    chown system input /sys/class/input/input3/enable
    chown system input /sys/class/input/input3/delay
    chown system input /sys/class/input/input3/wake
    chown system input /sys/class/input/input3/threshold
    chown system input /sys/class/input/input3/distortion
    chown system input /sys/class/input/input3/shape
    chown system input /sys/class/input/input3/offsets
    chown system input /sys/class/input/input3/filter_enable
    chown system input /sys/class/input/input3/filter_len
    chown system input /sys/class/input/input3/data
    chown system input /sys/class/input/input3/status
    chown system input /sys/class/input/input3/position
    
    chown system input /sys/class/input/input4/enable
    chown system input /sys/class/input/input4/delay
    chown system input /sys/class/input/input4/wake
    chown system input /sys/class/input/input5/enable
    chown system input /sys/class/input/input5/delay
    chown system input /sys/class/input/input5/wake
    chown system input /sys/class/input/input6/enable
    chown system input /sys/class/input/input6/delay
    chown system input /sys/class/input/input6/wake
    chown system input /sys/class/input/input7/enable
    chown system input /sys/class/input/input7/delay
    chown system input /sys/class/input/input7/wake
    chown system input /sys/class/input/input8/enable
    chown system input /sys/class/input/input8/delay
    chown system input /sys/class/input/input8/wake
    chown system input /sys/class/input/input9/enable
    chown system input /sys/class/input/input9/delay
    chown system input /sys/class/input/input9/wake
    chown system input /dev/i2c-12

 #change permissions for modem 
    chown radio system /sys/class/modemctl/xmm/control 
    chown radio system /sys/class/net/svnet0/waketime
    chown radio system /sys/class/net/svnet0/pdp/activate 
    chown radio system /sys/class/net/svnet0/pdp/deactivate
    chown radio system /sys/class/net/svnet0/pdp/suspend 
    chown radio system /sys/class/net/svnet0/pdp/resume
    #change permissions for USB
    chown radio system /sys/class/sec/switch/usb_sel
    chown radio system /sys/class/sec/switch/uart_sel
    chown radio system /sys/class/sec/switch/usb_state
    chown radio system /sys/class/sec/switch/disable_vbus
 
    #change permissions for fuel gauge
    chown radio system /sys/class/sec/fg_atcom_test/set_fuel_gauage_read
    chown radio system /sys/class/sec/fg_atcom_test/set_fuel_gauage_reset
 
    #change permissions for battery
    chown radio system /sys/class/power_supply/battery/batt_vol
    chown radio system /sys/class/power_supply/battery/batt_vol_adc
    chown radio system /sys/class/power_supply/battery/batt_temp
    chown radio system /sys/class/power_supply/battery/batt_temp_adc
    chown radio system /sys/class/power_supply/battery/charging_source
    chown radio system /sys/class/power_supply/battery/fg_soc
    chown radio system /sys/class/power_supply/battery/reset_soc
    chown radio system /sys/class/power_supply/battery/charging_mode_booting
    chown radio system /sys/class/power_supply/battery/batt_temp_check
    chown radio system /sys/class/power_supply/battery/batt_full_check
    chown radio system /sys/class/power_supply/battery/batt_type

    chown radio system /sys/class/power_supply/battery/batt_vol_adc_cal
    chown radio system /sys/class/power_supply/battery/batt_temp_adc_cal
    chown radio system /sys/class/power_supply/battery/batt_vol_adc_aver
    chown radio system /sys/class/power_supply/battery/batt_test_mode
    chown radio system /sys/class/power_supply/battery/batt_vol_aver
    chown radio system /sys/class/power_supply/battery/batt_temp_aver
    chown radio system /sys/class/power_supply/battery/batt_temp_adc_aver
    chown radio system /sys/class/power_supply/battery/batt_v_f_adc
    chown radio system /sys/class/power_supply/battery/batt_chg_current
    chown radio system /sys/class/power_supply/battery/charging_source
    chown radio system /sys/class/power_supply/battery/vibrator
    chown radio system /sys/class/power_supply/battery/camera
    chown radio radio /sys/class/power_supply/battery/mp3
    chown radio radio /sys/class/power_supply/battery/video
    chown radio system /sys/class/power_supply/battery/talk_gsm
    chown radio system /sys/class/power_supply/battery/talk_wcdma
    chown radio system /sys/class/power_supply/battery/data_call
    chown radio system /sys/class/power_supply/battery/wifi
    chown radio system /sys/class/power_supply/battery/gps
    chown radio system /sys/class/power_supply/battery/device_state
    chown radio system /sys/class/power_supply/battery/batt_compendation
    chown radio system /sys/class/power_supply/battery/is_booting

#for jack control
    chown radio system /sys/class/jack/jack_selector/select_jack

#change permissions for touch
    chown radio system /sys/class/sec/qt602240_noise_test/set_refer0
    chown radio system /sys/class/sec/qt602240_noise_test/set_delta0
    chown radio system /sys/class/sec/qt602240_noise_test/set_refer1
    chown radio system /sys/class/sec/qt602240_noise_test/set_delta1
    chown radio system /sys/class/sec/qt602240_noise_test/set_refer2
    chown radio system /sys/class/sec/qt602240_noise_test/set_delta2
    chown radio system /sys/class/sec/qt602240_noise_test/set_refer3
    chown radio system /sys/class/sec/qt602240_noise_test/set_delta3
    chown radio system /sys/class/sec/qt602240_noise_test/set_refer4
    chown radio system /sys/class/sec/qt602240_noise_test/set_delta4
    chown radio system /sys/class/sec/qt602240_noise_test/set_referminmax 
    chown radio system /sys/class/sec/qt602240_noise_test/set_deltaminmax 
    chown radio system /sys/class/sec/qt602240_noise_test/set_threshould 
    chown radio system /sys/class/sec/qt602240_atcom_test/set_qt_update 
    chown radio system /sys/class/sec/qt602240_atcom_test/set_qt_firm_version 
    chown radio system /sys/class/sec/qt602240_atcom_test/set_qt_firm_status 
    chown radio system /sys/class/sec/qt602240_atcom_test/set_qt_firm_version_read
    chown radio system /sys/class/touch/switch/set_power
    chown radio system /sys/class/touch/switch/set_acquisition
    chown radio system /sys/class/touch/switch/set_touchscreen 
    chown radio system /sys/class/touch/switch/set_keyarray 
    chown radio system /sys/class/touch/switch/set_total
    chown radio system /sys/class/touch/switch/set_write
    chown radio system /sys/class/touch/switch/set_noise
    chown radio system /sys/class/touch/switch/set_grip  
    chown radio system /sys/class/touch/qt_stylus/config_mode

 #change permissions for lcd
    chown radio system /sys/class/lcd/s5p_lcd/lcd_power
    chown system system /sys/class/gammaset/switch_gammaset/gammaset_file_cmd
    chown radio radio /sys/class/aclset/switch_aclset/aclset_file_cmd
    chown radio system /sys/class/sec/sec_lcd/lcdtype_file_cmd
    chown system system /sys/class/mdnieset_ui/switch_mdnieset_ui/mdnieset_ui_file_cmd
    chown system system /sys/class/mdnieset_outdoor/switch_mdnieset_outdoor/mdnieset_outdoor_file_cmd

 #change permissions for touchkey
    chown radio system /sys/class/misc/melfas_touchkey/touch_version
    chown radio system /sys/class/misc/melfas_touchkey/touch_update
    chown radio system /sys/class/misc/melfas_touchkey/brightness
    chown radio system /sys/class/misc/melfas_touchkey/enable_disable
    
    chown radio system /sys/devices/platform/s3c-keypad/key_pressed
    
    chown radio system /sys/class/misc/level/control

    chown radio system /sys/class/sec/switch/tethering

#change permissions for vibrator
    chmod 0660 /sys/class/timed_output/vibrator/enable
    chown system system /sys/class/timed_output/vibrator/enable

# GPS_CHIPSET_STE_CG2900  
#STE: Added for CG2900 Support	
#+Scott.Re-setup permission right
      chown system system /dev/s3c2410_serial1
      chmod 0770 /dev/s3c2410_serial1
      chown system system /system/vendor/bin/ste-cg29xx_ctrl
      chmod 0770 /system/vendor/bin/ste-cg29xx_ctrl
      mkdir /data/gps 770 gps system
      chown gps system /data/gps
      chmod 770 /data/GPS_NV_Data.bin
      chmod 770 /data/GPS_UTC_Calib.bin
      chown system system /dev/cg2900_audio
      chmod 0770 /dev/cg2900_audio
	  chown system system /dev/cg2900_bt_audio
      chmod 0770 /dev/cg2900_bt_audio
      chown system system /dev/cg2900_core
      chmod 0770 /dev/cg2900_core	  
      chown system system /dev/cg2900_driver0
      chmod 0770 /dev/cg2900_driver0
	  chown system system /dev/cg2900_fm_audio
      chmod 0770 /dev/cg2900_fm_audio
      chown gps system /dev/cg2900_gnss
      chmod 0770 /dev/cg2900_gnss
      chown system system /dev/cg2900_hci_logger
      chmod 0770 /dev/cg2900_hci_logger	  
	  chown system system /dev/cg2900_us_ctrl
      chmod 0770 /dev/cg2900_us_ctrl

# Permissions for power HAL
    chown system system /sys/devices/system/cpu/cpufreq/ondemand/boostpulse
    chmod 0660 /sys/devices/system/cpu/cpufreq/ondemand/boostpulse

# trigger governor change uevent
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive

on post-fs-data

# for migrating download provider's cache out of the small /data/data
    mkdir /data/data2 0771 system system

    # setup datadata
    exec /sbin/setupdatadata.sh

# wi-fi
    mkdir /data/wifi 0771 wifi wifi
    mkdir /data/misc/wifi 0771 wifi wifi
    chmod 0771 /data/misc/wifi/
    chmod 0771 /data/wifi/
    mkdir /data/misc/dhcp 0771 dhcp dhcp
    mkdir /data/misc/wifi/sockets 0771 wifi wifi
    chmod 0664 /system/etc/wifi/wpa_supplicant.conf
    chown dhcp dhcp /data/misc/dhcp
    mkdir /data/misc/dhcpcd 0771 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcpcd
    chown dhcp dhcp /data/misc/dhcp

# create data/gps for GPS demon
    mkdir /data/gps 770 gps system
    chown gps system /data/gps
    chown radio system /sys/class/power_supply/battery/gps

# cheatin
on property:ro.debuggable=1
    start adbd

# download cache
    mkdir /data/download 0770 system cache

# logs
   mkdir /data/log 0775 root root
   chmod 0775 /data/log

# Run sysinit

    setprop vold.post_fs_data_done 1

# 3D init
service pvrsrvinit /system/vendor/bin/pvrsrvinit
    class core
    user root
    group root
    oneshot

service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/sdcard0 /storage/sdcard0
     class late_start
     disabled
 
service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/sdcard1 /storage/sdcard1
     class late_start
     disabled

service bdaddr /system/bin/bdaddr_read
    class main
    user root
    group system bluetooth
    disabled
    oneshot

on property:ril.bt_macaddr=*
    start bdaddr

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -O/data/misc/wifi/sockets \
    -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin \
    -g@android:wpa_wlan0
# we will start as root and wpa_supplicant will switch to user wifi
# after setting up the capabilities required for WEXT
# user wifi
# group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

#service tvout /system/bin/tvoutserver
#    user system
#    group graphics

# +STE UART Contol Application
service ste-cg29xx_ctrl /system/vendor/bin/ste-cg29xx_ctrl -b 115200 /dev/s3c2410_serial1
     class main
     user system
     group system misc 
     oneshot

# +STE GPS Daemon
#GPS_CHIPSET_STE_CG2900
service agpsd /system/vendor/bin/agpsd
     class core
     user gps
     group system inet
     oneshot
